#login_div{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

h2{
    margin: 0;
    margin-bottom: 20px;
    padding-top: 10px;
}

#login_nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: calc(100% - 30px);
    padding-top: 30px;
    background-color: white;
}

.inputs_login{
    max-width: 300px;
    height: 25px;
    width: 100%;
}

#email{
    margin-top: 10px;
}

#confirm_email{
    margin-top: 5px;
}

#password{
    margin-top: 5px;
    margin-bottom: 10px;
}

#register_link{
    font-size: 15px;
}

#loader_bar{
    height: 5px;
    width: 0%;
    background-color: green;
    position: fixed;
}

#nav_login_overall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100%;
    background-color: aqua;
}

.li_login_overall:first-of-type{
    width: 100%;
    max-width: 70%;
    background: url('../../userComponents/imgs/bg_logo_profile.png'), linear-gradient(#e10013, #D60789);
    background-repeat: no-repeat;
    background-position: center;
}

.li_login_overall:last-of-type{
    width: 100%;
    max-width: 30%;
}

@media screen and (max-width: 720px) {
    .li_login_overall:first-of-type{
        width: 100%;
        max-width: none;
    }
    
    .li_login_overall:last-of-type{
        width: 100%;
        max-width: none;
    }
}