#div_search{
    width: 100%;
}

.nav_search{
    background: linear-gradient(#e10013, #D60789);
    justify-content: left;
    list-style-type: none;
    display: flex;
    /* position: sticky; */
}

#label_searchval{
    color: white;
}

/* .img_shop{

} */

#display_stars{
    display: flex;
    /* font: 30px; */
}

#btn_back{
    /* position: fixed; */
    margin-top: 15px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

.search_label{
    /* background-color: aqua; */
    width: 100%;
    text-align: right;
    margin-right: 20px;
}

#div_results{
    width: 100%;
    /* background-color: aqua; */
    margin-top: 0;
    padding-bottom: 100px;
}

#whole_result{
    list-style-type: none;
    width: 100%;
    display: flex;
    height: 100%;
}

#li_first_res{
    width: 30%;
    /* height: 100%; */
    max-width: 300px;
    min-width: 100px;
    border-top: solid 1px white;
    border-right: solid 1px grey;
    /* background: linear-gradient(0deg, #e10013, #D60789); */
    /* color: white; */
    /* background-color: beige; */
    /* box-shadow: 0px 0px 10px grey; */
}

.img_shop{
    width: 130px;
    height: 130px;
    max-width: 170px;
    max-height: 170px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px black;
}

#tag_shopname{
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
}

.div_shop{
    /* box-shadow: 0px 0px 5px black; */
    margin: 10px;
}

.under_li_res{
    /* border: solid 1px black; */
    width: 220px;
    height: auto;
    min-height: 350px;
    max-height: 400px;
    margin: 5px;
    border-radius: 0px;
    box-shadow: 0px 0px 5px black;
    padding-bottom: 10px;
}

#ul_results{
    margin-top: 0;
    padding-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#ul_products_results{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 720px) {
    #li_first_res{
        display: none;
    }
}