#div_shopview{
    width: 100%;
    /* background-color: aqua; */
}

#div_container{
    background: linear-gradient(#e10013, #D60789);
    width: 100%;
}

#div_nav_shopview{
    /* background-color: aqua; */
    width: calc(100% - 60px);
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#nav_shopview_sec{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.li_shopview_sec:first-of-type{
    background: linear-gradient(#e10013, #D60789);
    filter: grayscale(40%);
    width: 30%;
    border-radius: 5px;
}

.li_shopview_sec:last-of-type{
    background-color: white;
    width: 70%;
}

#nav_shopview{
    display: flex;
    list-style-type: none;
    width: 100%;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    /* height: 400px; */
}

#img_logo_viewer{
    width: 50%;
    height: 50%;
    opacity: 0.6;
}

#shop_img_prev{
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    border-radius: 70px;
}

#div_shop_prev{
    /* position: relative;
    top: 30%;
    background-color: aqua; */
    display: flex;
    margin-left: 10px;
    gap: 10px;
    margin-bottom: 10px;
    /* color: white; */
}

#label_shop_prev{
    color: white;
    font-size: 25px;
    font-family: Arial;
    text-align: left;
    margin-top: 5px;
}

#email_shop_prev{
    font-size: 15px;
    color: rgb(218, 218, 218);
    margin-top: -20px;
    text-align: left;
}

#nav_info_shop{
    /* background-color: aqua; */
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.btns_shop_prev{
    width: 100px;
    height: 25px;
    margin: 2px;
    background-color: white;
    border: solid 1px #D60789;
    border-radius: 2px;
    cursor: pointer;
    color: #D60789;
    font-family: Arial;
}

.btns_shop_prev:hover{
    background-color: #D60789;
    border: solid 1px #D60789;
    color: white;
}

#li_uno_btns{
    text-align: left;
}

#address_label{
    font-size: 15px;
    margin-top: 0px;
}

#tbl_shopview{
    margin-top: 10px;
    text-align: left;
    margin-bottom: -10px;
}

#div_content_shopview{
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 50px);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#nav_content_shopview{
    width: 100%;
    list-style-type: none;
    display: flex;
    /* border: solid 1px black; */
    flex-wrap: wrap;
}

.li_nav_content:first-of-type{
    width: 20%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}

.li_nav_content:nth-of-type(2){
    width: 70%;
    /* background-color: blue; */
}

.links_label_shop{
    font-size: 15px;
}

#label_fnav{
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

#table_prcat{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 60%;
}

#table_prcat:last-of-type{
    margin-bottom: 20px;
}

#ul_products_results_shop{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav_products_shop{
    width: fit-content;
}

.nav_products_shop li{
    width: fit-content;
}

@media screen and (max-width: 850px) {
    #nav_shopview_sec{
        flex-direction: column;
    }

    .li_shopview_sec:first-of-type{
        width: 100%;
    }
    
    .li_shopview_sec:last-of-type{
        width: 100%;
    }

    #nav_content_shopview li:first-of-type{
        width: 100%;
    }
    
    #nav_content_shopview li:nth-of-type(2){
        width: 100%;
    }

    #table_prcat{
        text-align: center;
    }
}