#div_user_ver{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../../userComponents/imgs/bg_logo_profile.png'), linear-gradient(#e10013, #D60789);
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
}

#div_user_ver_input{
    position: absolute;
    top: calc(45vh - 120px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(102, 102, 102);
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    opacity: 0.8;
    padding: 10px;
}

#nav_inputs_ver{
    list-style-type: none;
    height: 100%;
}

#user_ver_text{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px white;
    text-align: center;
}

#btn_user_ver{
    margin-top: 10px;
    width: 100%;
    max-width: 200px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: solid 1px white;
    background-color: lime;
    cursor: pointer;
}

#note_label{
    color: white;
    font-size: 13px;
}

#note_label_ver{
    color: white;
    font-size: 20px;
}