#div_order{
    /* background-color: aqua; */
    padding-left: 50px;
    width: calc(100% - 50px);
}

#nav_order{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.li_class_all_orders{
    width: calc(100% - 2px);
    /* border: solid 1px black; */
}

#li_order_one{
    text-align: left;
}

#label_order{
    margin-left: 20px;
    /* font-size: 20px;
    font-family: Arial; */
}

#span_uno{
    font-size: 20px;
    font-family: Arial;
}

#span_sec{
    font-family: 15px;
    /* display: inline-block; */
    /* margin-top: -100px; */
}

#nav_buttons_orders{
    display: flex;
    /* width: 500px; */
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: auto;
    gap: 10px;
    padding-left: 10px;
    padding-top: 5px;
    /* background-color: aqua; */
}

.btns_nav_orders{
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#li_label_status{
    text-align: left;
}

#label_statusifier{
    margin-left: 15px;
    font-size: 20px;
    font-family: Arial;
}

#table_orders{
    /* background-color: aqua; */
    width: 98%;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#th_one, #th_two, #th_three, #th_four, #th_five{
    background: linear-gradient(#e10013, #D60789);
    color: white;
    font-size: 15px;
}

#th_one{
    width: 25%;
}

#th_two{
    width: 25%;
}

#th_three{
    width: 20%
}

#th_four{
    width: 20%;
}

#th_five{
    width: 10%;
}

.btns_order{
    width: 90%;
    height: 30px;
    cursor: pointer;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
}

.tr_orders{
    /* background-color: rgb(199, 199, 199); */
    padding-top: 5px;
    color: black;
    /* box-shadow: 0px 0px 5px black; */
    /* border-bottom: solid 1px black; */
    /* margin-top: 5px; */
    cursor: pointer;
    font-size: 15px;
}

#btn_conf{
    background-color: limegreen;
    border: none;
    color: white;

}

#btn_can{
    background-color: red;
    border: none;
    color: white;
}

.link_orders{
    text-align: left;
    text-decoration: none;
    color: black;
}

#no_orders_label{
    position: absolute;
    /* left: auto; */
    top: 55vh;
    left: 50%;
    transform: translate(-50%, 0);
    color: grey;
    font-size: 15px;
}

.tbl_ordercontent{
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.labels_status{
    /* background-color: black; */
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-radius: 5px;
    
}

.pending{
    background-color: orange;
}

.ondelivery{
    background-color: lime;
}

.delivered{
    background-color: limegreen;
}

.cancelled{
    background-color: red;
}

@media screen and (max-width: 720px) {
    
}