#div_productinfo{
    width: 100%;
}

#nav_productinfo{
    padding-top: 20px;
    width: 100%;
    /* background-color: aqua; */
    list-style-type: none;
}

#prev_product{
    background-color: grey;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    margin: 5px;
    /* background-color: aqua; */
}

#background_prev{
    width: 80%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url('../imgs/bg_logo_profile.png'), linear-gradient(#e10013, #D60789);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    filter: grayscale(70%);
}

#nav_details_prod{
    /* background-color: #e10013; */
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    padding: 10px;
}

.li_main_details:first-of-type{
    width: 100%;
    max-width: auto;
    /* height: auto; */
    /* background-color: #D60789; */
}

.li_main_details:last-of-type{
    width: 100%;
    /* height: auto; */
    max-width: auto;
    /* background-color: #e10013; */
}

#desc_p{
    text-align: justify;
}

#imgs_nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /* background-color: #D60789; */
}

.var_product_prev{
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    top: calc(100% - 100px);
}

#nav_info_details{
    /* background-color: aqua; */
    width: 95%;
    text-align: left;
    padding: 10px;
}

#star_label{
    display: flex;
}

#nav_main_view{
    display: flex;
    flex-direction: row;
    width: 80%;
    /* height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    margin-bottom: 10px;
}

.li_nav_prd:first-of-type{
    width: 70%;
}

.li_nav_prd:last-of-type{
    width: 30%;
}

#nav_side_details{
    width: 100%;
    height: calc(100% - 10px);
    /* max-height: calc(100% - 165px); */
    margin-top: 10px;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}

#cmts_label{
    margin: 0;
    padding: 15px;
    border-bottom: solid 1px rgb(177, 177, 177);
}

.li_comments_inside_array{
    /* background-color: aqua; */
    height: calc(90% - 30px);
    overflow-y: scroll;
}

#each_comment_nav{
    /* background-color: #D60789; */
    border-bottom: solid 1px rgb(177, 177, 177);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.user_label{
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
}

.user_comment_class{
    margin-top: 0px;
    margin-bottom: -10px;
    font-size: 14px;
    text-align: center;
}

.user_date_class{
    font-size: 13px;
    margin: 0px;
    text-align: left;
}

.nav_variety_list{
    box-shadow: 0px 0px 5px black;
    width: 500px;
    margin-top: 0;
    margin-bottom: 10px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border-radius: 5px;
    height: auto;
    min-height: 150px;
    display: flex;
}

#variety_li{
    margin-bottom: 20px;
}

.img_var_prod{
    height: 200px;
    margin: 0;
    margin-bottom: -5px;
    border-radius: 5px;
}

.tbl_variety{
    width: 100%;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

#variety_container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: auto;
    /* background-color: aqua; */
}

.li_cont_details:first-of-type{
    width: 40%;
}

.li_cont_details:last-of-type{
    width: 65%;
}

.label_values_var{
    margin: 2px;
}

.btn_variety_func{
    width: 80px;
    height: 30px;
}

@media screen and (max-width: 720px) {
    #nav_main_view{
        flex-direction: column;
    }

    .li_nav_prd:first-of-type{
        width: 100%;
    }
    
    .li_nav_prd:last-of-type{
        width: 100%;
    }
}