#cart_div{
    width: 100%;
    /* background-color: aqua; */
}

#nav_cart{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* overflow-y: scroll; */
    /* background-color: aqua; */
}

#nav_cart li:first-of-type{
    width: 100%;
}

#nav_list{
    /* border: solid 1px black; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: flex;
    list-style-type: none;
    /* height: auto; */
    /* padding: 0px; */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 5px black;
    border-radius: 2px;
    flex-direction: row;
    text-align: left;
    height: auto;
    margin-bottom: 10px;
    background-color: white;
    /* background-color: aqua; */
}

.label_no_result{
    /* color: white; */
    font-family: Arial;
    font-size: 15px;
}

#nav_list li:first-of-type{
    width: auto;
    /* background-color: aqua; */
    /* margin-bottom: -20px; */
}

#cart_text{
    color: white;
    background-color: orangered;
    min-width: 80px;
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: -20px; */
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
}

#pending_text{
    color: white;
    background-color: orange;
    min-width: 80px;
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: -20px; */
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
}

#ondelivery_text{
    color: white;
    background-color: lime;
    min-width: 80px;
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: -20px; */
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
}

#received_text{
    color: white;
    background-color: limegreen;
    min-width: 80px;
    height: auto;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: -20px; */
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
}

#cancelled_text{
    color: white;
    background-color: red;
    min-width: 80px;
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: -20px; */
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin-top: 5px;
}

.p_tag_status{
    margin-top: 0px;
    margin-bottom: 3px;
}

#li_main_last{
    padding-left: 20px;
    /* background-color: aqua; */
    width: 70%;
}

#name_var{
    margin-bottom: 0px;
    margin-top: 10px;
}

#span_var{
    margin-bottom: 10px;
    display: block;
    /* font-style: italic; */
}

#total_var{
    margin-bottom: 0px;
}

.pr_var_prev{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 205px;
    margin: 0;
    padding: 0;
}

#nav_list li:first-of-type{
    /* background-color: aqua; */
    text-align: left;
}

.btn_confirm_from_cart{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.btn_confirm_from_cart:first-of-type{
    background-color: white;
    border: solid 1px orange;
    color: orange;
}

.btn_confirm_from_cart:first-of-type:hover{
    background-color: orange;
    border: solid 1px orange;
    color: white;
}

.btn_confirm_from_cart:last-of-type{
    background-color: white;
    border: solid 1px red;
    color: red;
}

.btn_confirm_from_cart:last-of-type:hover{
    background-color: red;
    border: solid 1px red;
    color: white;
}

.btn_confirm_from_ond{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.btn_confirm_from_ond:first-of-type{
    background-color: white;
    border: solid 1px black;
    color: black;
}

.btn_confirm_from_ond:first-of-type:hover{
    background-color: black;
    border: solid 1px black;
    color: white;
}

.btn_confirm_from_ond:last-of-type{
    background-color: white;
    border: solid 1px black;
    color: black;
}

.btn_confirm_from_ond:last-of-type:hover{
    background-color: black;
    border: solid 1px black;
    color: white;
}

.btn_handler_confirm{
    /* background-color: aqua; */
    /* width: 100%; */
    text-align: right;
}

/* #li_cart_uno{
    overflow-y: scroll;
} */

/* .li_image_container{
    width: 30%;
    background-color: aqua;
} */

/* .li_main_orders{
    background-color: aqua;
} */