#div_profilemain{
    width: 100%;
    /* overflow-y: scroll; */
    /* color: white; */
    /* background-color: aqua; */
}

#ul_profilemain{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 90%;
    /* background-color: aqua; */
}

.input_names{
    width: 100%;
    max-width: 300px;
    height: 20px;
    margin: 5px;
}

#btn_names_submit{
    margin-left: 5px;
}

#div_profilemain_cover{
    display: block;
    height: 250px;
    width: 100%;
    background: url('../../imgs/bg_logo_profile.png'), linear-gradient(#e10013, #D60789);
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(60%);
    border-radius: 5px;
    background-size: auto;
}